<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>{% block title %}My Site{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/admin/theme.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.9.0/jquery.raty.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

</head>
<body>
{% block nav %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Admin</a>
     

    </div>
    <ul class="nav navbar-nav">
       <li class="{% block home_active %}{% endblock %}"><a href="{% url 'index' %}">Home</a></li>
       <li class="{% block page1_active %}{% endblock %}"><a href="{% url 'admin_leads' %}">Leads</a></li>
       <li class="{% block page2_active %}{% endblock %}"><a href="{% url 'admin_blogs' %}">Blogs</a></li>
       <li class="{% block page3_active %}{% endblock %}"><a href="{% url 'admin_portfolio' %}">Portfolio</a></li>
       <li class="{% block page4_active %}{% endblock %}"><a href="{% url 'admin_resume' %}">Resume</a></li>

      </ul>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'admin_logout' %}">Logout</a></li>
      </ul>
  </div>
  </div>
</nav>
{% endblock %}


 {% block content %}
        <!-- Content of child templates will be inserted here -->
        {% endblock %}
</body>

  </html>
