{% extends 'admin/adminlayout.html' %}

{% block page3_active %}active{% endblock %}
{% block title %}PORTFOLIO {% endblock %}

{% load static %}
{% block content %}
<style>
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
  }

  .form-container label,
  .form-container input,
  .form-container textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .form-container input[type="file"] {
    padding: 5px;
  }

  .form-container textarea {
    height: 100px;
  }

  .form-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  .form-container button[type="submit"]:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
  }
</style>
<div class="form-container">
  {% if success_message %}
  <div class="alert alert-success">{{ success_message }}</div>
  {% endif %}

  <h2>Add Portfolio</h2>
  <form method="post" enctype="multipart/form-data" action="{% url 'portfolio_add' %}">
    {% csrf_token %}


    <h4>Static Websites</h4>
    <label for="portfolio_title">Title:</label>
    <input type="text" id="portfolio_title" name="portfolio_title" required>
    <label for="portfolio_link">Link:</label>
    <textarea id="portfolio_link" name="portfolio_link" required></textarea>
    <label for="portfolio_img">Upload Image:</label>
    <input type="file" id="portfolio_img" name="portfolio_img" accept="image/*" required>




    <button id="submitBtn" type="submit">Submit</button>

  </form>
</div>


<script>

  document.addEventListener('DOMContentLoaded', function () {
    var title = document.getElementById('title');
    var description = document.getElementById('description');
    var image = document.getElementById('image');
    var submitBtn = document.getElementById('submitBtn');

    // Enable submit button when fields are entered
    title.addEventListener('input', checkFields);
    description.addEventListener('input', checkFields);
    image.addEventListener('input', checkFields);

    function checkFields() {
      if (title.value.trim() !== '' && description.value.trim() !== '' && image.value.trim() !== '') {
        submitBtn.disabled = false;
      } else {
        submitBtn.disabled = true;
      }
    }

  });




</script>

{% endblock %}