<!DOCTYPE html>
<html lang="en">
<head>
      {% load static %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Abhiram T N </title>
        <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{% static '/css/meyawo.css' %}">
    <!-- font icons -->

</head>
<body>


</body>
</html>