{% extends 'layout/masterlayout.html' %}
{% load static %}
{% block title %}Resume {% endblock %}

{% block page %}
Resume
{% endblock %}
{% block mtitle %} {% endblock %}
{% block stitle %}
Professional Summary
{% endblock %}

{% block content %}
<style>


</style>
<!--Professional Summary !-->
<section class="section pt-0" id="about">
  <!-- container -->
  <div class="container text-center">
    <!-- about wrapper -->
    <div class="about">

      <div class="about-caption">
        <h2 class="section-title mb-3">Professional Summary</h2>
        <p>
          I have a solid background in computer science and a variety of technical skills as a BSc CS graduate with one
          year of job experience. My ability to work with cutting-edge technologies and create complicated web
          applications is demonstrated by my expertise in programming languages like JavaScript and Python as well as my
          experience as a full-stack developer in Django. I am qualified to take on difficult software engineering
          projects and contribute to the creation of creative solutions since I have a solid grasp of computer science
          fundamentals and a love for remaining current with new developments in the area. I am a tremendous asset to
          any organisation looking for a talented and motivated software professional due to my combination of technical
          knowledge and real-world experience.
          <br>
        </p>
      </div>
    </div><!-- end of about wrapper -->
  </div><!-- end of container -->
</section>

<!-- Skills-->
<section class="section pt-0" id="about">
  <!-- container -->
  <div class="container text-center">
    <!-- about wrapper -->
    <div class="about">

      <div class="about-caption">
        <h2 class="section-title mb-3">Skills</h2>
        <h4 class="mb-3">Technical Skills</h2>



          </li>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <p class="section-subtitle">Programming Languages</p>
                <li>
                  JavaScript
                </li>
                <li>
                  Python
                </li>
                <li>
                  C++
                </li>
              </div>
              <div class="col-lg-6">
                <p class="section-subtitle">Web Development</p>
                <li>
                  HTML 5
                </li>
                <li>
                  Javascript
                </li>
                <li>
                  CSS ,SCSS
                </li>
                <li>
                  Bootstrap 5
                </li>
                <li>
                  Jquery
                </li>
              </div>
              <div class="col-lg-6">
                <p class="section-subtitle">Databases</p>
                <li>
                  MY SQL
                </li>
                <li>
                  MS SQL
                </li>

              </div>
              <div class="col-lg-6">
                <p class="section-subtitle">Version Control</p>
                <li>
                  Subversion
                </li>
                <li>
                  Git
                </li>
                <li>
                  Github
                </li>

              </div>
              <div class="col-lg-6">
                <p class="section-subtitle">Cloud Computing</p>
                <li>
                  Amazon Web Services
                </li>
                <li>
                  Google Cloud Platform
                </li>

              </div>
              <div class="col-lg-6">
                <p class="section-subtitle">Development Frameworks</p>
                <li>
                  Django
                </li>
                <li>
                  Laravel
                </li>


              </div>
              <div class="col-lg-6">
                <p class="section-subtitle">Web Servor Administration</p>
                <li>
                  Apache
                </li>
                <li>
                  Nginx
                </li>
                <li>
                  IIS
                </li>
              </div>
              <div class="col-lg-6">
                <p class="section-subtitle">Miscellaneous Software Knowledge</p>
                <li>
                  Adobe Photoshop
                </li>
                <li>
                  Corel Draw
                </li>
                <li>
                  Adobe Premier Pro
                </li>
                <li>
                  Davinci Resolve
                </li>
              </div>
              <div class="col-lg-6">
                <p class="section-subtitle">Operating Systems</p>
                <li>
                  Windows
                </li>
                <li>
                  Cent Os
                </li>
                <li>
                  Ubuntu
                </li>
                <li>
                  Proxmox
                </li>

              </div>
            </div>
          </div><!-- end of about wrapper -->
      </div><!-- end of container -->

</section>
<!-- work expperience start-->
<section class="section pt-0" id="about">
  <!-- container -->
  <div class="container text-center">
    <!-- about wrapper -->
    <div class="about">

      <div class="about-caption">
        <h2 class="section-title mb-3">Work Experience</h2>
        <h4 class="mb-3">Front End Developer&nbsp <span style="font-size: 0.8em;">(Time Period)</span></h2>

          <p>

            <br>
          </p>
      </div>

    </div><!-- end of about wrapper -->
    <div class="about">

      <div class="about-caption">
        <h4 class="mb-3">Junior Web Developer&nbsp <span style="font-size: 0.8em;">(Time Period)</span></h2>

          <p>

            <br>
          </p>
      </div>

    </div><!-- end of about wrapper -->

  </div><!-- end of container -->
</section>


<!-- Work Experience History-->


<!-- Education start-->
<section class="section pt-0" id="about">
  <!-- container -->
  <div class="container text-center">
    <!-- about wrapper -->
    <div class="about">

      <div class="about-caption">
        <h2 class="section-title mb-3">Educational Qualification</h2>
        <h4 class="mb-3">Front End Developer&nbsp <span style="font-size: 0.8em;">(Time Period)</span></h2>

          <p>

            <br>
          </p>
      </div>

    </div><!-- end of about wrapper -->
    <div class="about">

      <div class="about-caption">
        <h4 class="mb-3">Junior Web Developer&nbsp <span style="font-size: 0.8em;">(Time Period)</span></h2>

          <p>

            <br>
          </p>
      </div>

    </div><!-- end of about wrapper -->

  </div><!-- end of container -->
</section>


<!-- Education End-->


{% endblock %}