{% extends 'layout/masterlayout.html' %}
{% load static %}
{% block title %}Resume {% endblock %}

{% block page %}
Resume
{% endblock %}
{% block mtitle %} {% endblock %}
{% block stitle %}
Professional Summary
{% endblock %}

{% block content %}
<style>


</style>
<!--Professional Summary !-->
<section class="section pt-0" id="about">
  <!-- container -->
  <div class="container text-center">
    <!-- about wrapper -->
    <div class="about">

      <div class="about-caption">
        <h2 class="section-title mb-3">Professional Summary</h2>
        <p>
          I have a solid background in computer science and a variety of technical skills as a BSc CS graduate with one
          year of job experience. My ability to work with cutting-edge technologies and create complicated web
          applications is demonstrated by my expertise in programming languages like JavaScript and Python as well as my
          experience as a full-stack developer in Django. I am qualified to take on difficult software engineering
          projects and contribute to the creation of creative solutions since I have a solid grasp of computer science
          fundamentals and a love for remaining current with new developments in the area. I am a tremendous asset to
          any organisation looking for a talented and motivated software professional due to my combination of technical
          knowledge and real-world experience.
          <br>
        </p>
      </div>
    </div><!-- end of about wrapper -->
  </div><!-- end of container -->
</section>

<!-- Skills-->
<section class="section pt-0" id="about">
  <!-- container -->
  <div class="container text-center">
    <!-- about wrapper -->
    
    <div class="about">
      <div class="about-caption">
        <h2 class="section-title mb-3">Skills</h2>
        {% for category in skills_by_category %}
        <div class="col-lg-6">
          <p class="section-subtitle">{{ category.category }}</p>
          <ul>
            {% for skill in category.skills %}
            <li>{{ skill.skill_name }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    
</section>
<!-- work expperience start-->
<section class="section pt-0" id="about">
  <!-- container -->
  <div class="container text-center">
    <!-- about wrapper -->
    <div class="about">

      <div class="about-caption">
        <h2 class="section-title mb-3">Work Experience</h2>
        <h4 class="mb-3">Front End Developer&nbsp <span style="font-size: 0.8em;">(Time Period)</span></h2>
          <p>
            <br>
          </p>
      </div>
    </div><!-- end of about wrapper -->
    <div class="about">
      <div class="about-caption">
        <h4 class="mb-3">Junior Web Developer&nbsp <span style="font-size: 0.8em;">(Time Period)</span></h2>
          <p>
            <br>
          </p>
      </div>
    </div><!-- end of about wrapper -->
  </div><!-- end of container -->
</section>


<!-- Work Experience History-->


<!-- Education start-->
<section class="section pt-0" id="about">
  <!-- container -->
  <div class="container text-center">
    <!-- about wrapper -->
    <div class="about">

      <div class="about-caption">
        <h2 class="section-title mb-3">Educational Qualification</h2>
        <h4 class="mb-3">Front End Developer&nbsp <span style="font-size: 0.8em;">(Time Period)</span></h2>

          <p>

            <br>
          </p>
      </div>

    </div><!-- end of about wrapper -->
    <div class="about">

      <div class="about-caption">
        <h4 class="mb-3">Junior Web Developer&nbsp <span style="font-size: 0.8em;">(Time Period)</span></h2>

          <p>

            <br>
          </p>
      </div>

    </div><!-- end of about wrapper -->

  </div><!-- end of container -->
</section>


<!-- Education End-->


{% endblock %}