

<style>
    .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:90px;
	right:40px;
	background-color:#000000;
	color:#ffffff;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
.float:hover {
	background-color: #ffffff;
	color: #000000;
	
}   
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/919539279908?text=Hi%20Abhiram%20Iam%20here%20to%20enquire%20about%20%22%22" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>
</a>